<div class="container">
  <div class="text-center">
  <%= link_to "Add new cocktail", new_cocktail_path, class: "btn btn-info" %>
  </div>


  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-12">
        <div class="card" id="img" style="background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.2)), url('https://source.unsplash.com/600x600/?cocktail, beverages, <%= cocktail.name %>');">
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
          </div>
          <%= link_to "Go to cocktail", cocktail_path(cocktail.id), class: "card-link"  %>
          <!-- <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
        </div>
      </div>
    <% end %>
      <!-- insert <div class="card"> -->
  </div>
</div>











