
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">

      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description, label: false, placeholder: "Quantity ingredient"  %>
        <%= f.association :ingredient, label: false, placeholder: "Choose ingredient" %>
        <%= f.button :submit, placeholder: "Add dose", class: "btn btn-black"%>
      <% end %>
      <style>
      .form-control {
        font-family: 'Amatic SC' !important;
        font-size: 20px;
      }
      </style>

    </div>
  </div>
</div>
