.btn {
  font-family: 'Amatic SC';
  text-decoration: none;
  color: darkred;
  border: 1px solid white;
  font-size: 20px;
  background-color: white;
  opacity: 0.5;
}

.btn:hover {
  color: darkred;
  background-color: white;
  opacity: 0.8;
}

.btn.btn-lg.btn-black {
  font-family: 'Amatic SC';
  color: grey;
  background-color: white;
  border: 1px solid grey;
  font-size: 30px;
  background-color: white;
}

.btn.btn-black {
  font-family: 'Amatic SC';
  color: grey;
  font-size: 20px;
  opacity: 0.7;
}

.btn.btn-black:hover {
  color: darkred;
  opacity: 1;
}


