.card {
  height: 300px;
  width: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 15px 0px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
}

#img{
  -webkit-filter: grayscale(1);
}

#img:hover{
  -webkit-filter: grayscale(0);
}

#img-cocktail {
  opacity: 0.7;
}

.card.cocktail {
  height: 500px;
  width: 400px;
}

.ingredient-card {
  height: 500px;
  width: 400px;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  top: 5px;
  left: 5px;
  text-align: left;
  margin-left: 15px;
}

.card-description h1 {
  font-family: 'Amatic SC';
  font-weight: bold;
  font-size: 40px;
}

.card-description h2 {
  font-size: 24px;
  font-family: 'Amatic SC';
  font-weight: bold;
}

.card-description h6 {
  font-size: 25px;
  font-family: 'Amatic SC';
  font-weight: lighter;
  font-style: cursive;
}

.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-family: 'Amatic SC';
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.cocktail {
  height: 300px;
  width: 800px;
}

#img-cocktail {
  -webkit-filter: grayscale(0);
}

.ingredient-card h2 {
  font-family: 'Amatic SC';
  font-size: 30px;

}

.card.ingredient {
  height: 110px;
  width: 110px;
  text-shadow: 0 0.1px 0.1px rgba(0,0,0,0.1);
  color: black;
  position: relative;
  margin: 0px 15px;
  border-radius: 5px;
  box-shadow: 0px;
  border: 1px solid white;
  text-align: center;
  font-family: 'Amatic SC';
}

.card.ingredient h5 {
  font-size: 25px;
}
.card.ingredient p{
  font-size: 20px;
}

.card-subtitle p{
  font-size: 10px;
  font-weight: cursive;
}

.far {
  color: grey;
  text-decoration: none;
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.far:hover {
  color: black;
}
